p{
  font-family: Roboto,Arial;
  margin-top: 0px;
  margin-bottom: 0px;
} 

body{
  margin: 0px;

  padding-top: 80px;
  
  padding-left: 96px;
  padding-right: 24px;
  background-color: rgb(247, 247, 247);
}

.video-time{
  background-color: black;
  color: white;
  position: absolute;
  bottom: 20px;
  right: 8px;
  font-family: Roboto,Arial;
  font-size: 12px;
  font-weight: 500;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 2px;
  
}